<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
     |
     <a href="/skills">All Skills</a>
    <h3><%= skill.skill %></h3>
    <h3>Experiece: <%= skill.years %> years</h3>
</body>
</html>